.notely-notes-delete-conf-child {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  	background-color: #fff;
  	width: 1512px;
  	height: 82px;
}
.risearch-2-line-icon {
  	width: 20px;
  	position: relative;
  	height: 20px;
  	overflow: hidden;
  	flex-shrink: 0;
}
.search-task {
  	position: relative;
  	letter-spacing: 0.15px;
  	line-height: 24px;
  	font-weight: 500;
}
.risearch-2-line-parent {
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	gap: 9px;
}
.notely-notes-delete-conf-inner {
  	position: absolute;
  	top: 17px;
  	left: 128px;
  	border-radius: 56px;
  	background-color: #eee;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	padding: 12px 0px 12px 24px;
  	color: #212121;
  	font-family: Nunito;
}
.search {
  	position: relative;
  	letter-spacing: 0.5px;
  	line-height: 24px;
}
.frame-div {
  	position: absolute;
  	top: 17px;
  	left: 128px;
  	border-radius: 8px;
  	background-color: #eee;
  	width: 1146px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	padding: 12px 0px 12px 24px;
  	box-sizing: border-box;
  	color: rgba(33, 33, 33, 0.87);
}
.all {
  	position: relative;
  	letter-spacing: 1.25px;
  	line-height: 24px;
  	text-transform: uppercase;
  	font-weight: 500;
}
.tab-child {
  	width: 104px;
  	position: relative;
  	height: 0px;
}
.tab {
  	position: absolute;
  	top: 176px;
  	left: 232px;
  	border-radius: 50px;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
  	gap: 8px;
  	color: rgba(33, 33, 33, 0.6);
}
.tab1 {
  	position: absolute;
  	top: 176px;
  	left: 336px;
  	border-radius: 50px;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
  	gap: 8px;
  	color: rgba(33, 33, 33, 0.6);
}
.tab2 {
  	position: absolute;
  	top: 176px;
  	left: 440px;
  	border-radius: 50px;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
  	gap: 8px;
  	color: rgba(33, 33, 33, 0.6);
}
.notely-notes-delete-conf-item {
  	position: absolute;
  	top: 206.5px;
  	left: 127.5px;
  	border-top: 1px solid rgba(0, 0, 0, 0.12);
  	box-sizing: border-box;
  	width: 417px;
  	height: 1px;
}
.line-div {
  	width: 106px;
  	position: relative;
  	border-top: 2px solid #42a5f5;
  	box-sizing: border-box;
  	height: 2px;
}
.tab3 {
  	position: absolute;
  	top: 176px;
  	left: 128px;
  	border-radius: 50px;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
  	gap: 8px;
  	color: #42a5f5;
}
.your-notes {
  	position: absolute;
  	top: 114px;
  	left: 128px;
  	font-size: 24px;
  	letter-spacing: 0.25px;
  	line-height: 33.6px;
  	font-weight: 600;
  	color: #212121;
}
.mark-as-complete {
  	position: relative;
  	letter-spacing: 0.4px;
  	line-height: 24px;
}
.mark-as-complete-wrapper {
  	position: absolute;
  	height: 3.26%;
  	width: 7.94%;
  	top: 31.36%;
  	right: 70.44%;
  	bottom: 65.38%;
  	left: 21.63%;
  	border-radius: 4px;
  	background-color: #757575;
  	display: none;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 4px 8px;
  	box-sizing: border-box;
  	font-size: 12px;
}
.mark-as-complete-container {
  	position: absolute;
  	height: 3.26%;
  	width: 7.94%;
  	top: 31.36%;
  	right: 14.02%;
  	bottom: 65.38%;
  	left: 78.04%;
  	border-radius: 4px;
  	background-color: #757575;
  	display: none;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 4px 8px;
  	box-sizing: border-box;
  	font-size: 12px;
}
.show-only-completed {
  	position: absolute;
  	top: 8px;
  	left: 48px;
  	letter-spacing: 0.5px;
  	line-height: 24px;
}
.task-actions-buttons-icon {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 40px;
  	height: 40px;
}
.show-only-completed-notes-parent {
  	position: absolute;
  	top: 168px;
  	left: 1127px;
  	width: 257px;
  	height: 40px;
  	color: rgba(33, 33, 33, 0.87);
}
.material-symbolsadd-icon {
  	width: 18px;
  	position: relative;
  	height: 18px;
  	overflow: hidden;
  	flex-shrink: 0;
}
.add {
  	position: relative;
  	letter-spacing: 1.25px;
  	line-height: 24px;
  	font-weight: 500;
}
.button {
  	position: absolute;
  	top: 17px;
  	left: 1294px;
  	border-radius: 56px;
  	background-color: #42a5f5;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 12px 16px;
  	gap: 8px;
}
.user-2-icon {
  	position: absolute;
  	top: 15px;
  	left: 1425px;
  	width: 49px;
  	height: 49px;
  	object-fit: cover;
}
.group-child {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  	border-radius: 16px;
  	background-color: rgba(255, 255, 255, 0.24);
  	width: 403px;
  	height: 248px;
}
.personal {
  	position: relative;
  	letter-spacing: 0.25px;
  	line-height: 24px;
}
.personal-wrapper {
  	position: absolute;
  	top: 17px;
  	left: 22px;
  	border-radius: 28px;
  	background-color: rgba(33, 33, 33, 0.36);
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 6px 12px;
}
.hang-out-with {
  	position: absolute;
  	top: 76px;
  	left: 20px;
  	font-size: 24px;
  	text-decoration: line-through;
  	letter-spacing: 0.25px;
  	line-height: 33.6px;
  	font-weight: 600;
}
.create {
  	position: absolute;
  	top: 224px;
  	left: 209px;
  	letter-spacing: 0.25px;
  	line-height: 24px;
  	font-weight: 900;
  	font-family: Nunito;
  	color: rgba(255, 255, 255, 0.24);
}
.delete-wrapper {
  	position: absolute;
  	height: 40%;
  	width: 100%;
  	top: 60%;
  	right: 0%;
  	bottom: 0%;
  	left: 0%;
  	border-radius: 4px;
  	background-color: #757575;
  	display: none;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 4px 8px;
  	box-sizing: border-box;
}
.note-actions-buttons-child {
  	position: absolute;
  	height: 30%;
  	width: 46.15%;
  	top: 10%;
  	right: 26.92%;
  	bottom: 60%;
  	left: 26.92%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}
.note-actions-buttons {
  	position: absolute;
  	top: 21px;
  	left: 295px;
  	background-color: rgba(255, 255, 255, 0.24);
  	width: 52px;
  	height: 80px;
  	font-size: 12px;
  	color: #fff;
}
.edit-wrapper {
  	position: absolute;
  	height: 40%;
  	width: 73.08%;
  	top: 60%;
  	right: 13.46%;
  	bottom: 0%;
  	left: 13.46%;
  	border-radius: 4px;
  	background-color: #757575;
  	display: none;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 4px 8px;
  	box-sizing: border-box;
}
.note-actions-buttons1 {
  	position: absolute;
  	height: 32.26%;
  	width: 12.71%;
  	top: 8.47%;
  	right: 27.87%;
  	bottom: 59.27%;
  	left: 59.41%;
  	background-color: rgba(255, 255, 255, 0.24);
  	font-size: 12px;
  	color: #fff;
}
.share-wrapper {
  	position: absolute;
  	height: 40%;
  	width: 94.23%;
  	top: 60%;
  	right: 2.88%;
  	bottom: 0%;
  	left: 2.88%;
  	border-radius: 4px;
  	background-color: #757575;
  	display: none;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 4px 8px;
  	box-sizing: border-box;
}
.group-item {
  	position: absolute;
  	height: 166.67%;
  	width: 166.67%;
  	top: -33.33%;
  	right: -33.33%;
  	bottom: -33.33%;
  	left: -33.33%;
  	border-radius: 50%;
  	background-color: rgba(0, 0, 0, 0.12);
  	display: none;
}
.material-symbolsdelete-rounde-icon {
  	position: absolute;
  	height: 100%;
  	width: 100%;
  	top: 0%;
  	right: 0%;
  	bottom: 0%;
  	left: 0%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
  	object-fit: cover;
}
.ellipse-parent {
  	position: absolute;
  	height: 30%;
  	width: 46.15%;
  	top: 10%;
  	right: 26.92%;
  	bottom: 60%;
  	left: 26.92%;
}
.note-actions-buttons2 {
  	position: absolute;
  	top: 21px;
  	left: 347px;
  	background-color: rgba(255, 255, 255, 0.24);
  	width: 52px;
  	height: 80px;
  	font-size: 12px;
  	color: #fff;
}
.h30-20012023 {
  	position: absolute;
  	top: 224px;
  	left: 267px;
  	letter-spacing: 0.25px;
  	line-height: 24px;
  	font-family: Nunito;
  	color: rgba(255, 255, 255, 0.24);
  	display: inline-block;
  	width: 142px;
}
.edit1 {
  	position: absolute;
  	top: 224px;
  	left: 2px;
  	letter-spacing: 0.25px;
  	line-height: 24px;
  	font-weight: 900;
  	font-family: Nunito;
  	color: rgba(255, 255, 255, 0.24);
}
.h30-200120231 {
  	position: absolute;
  	top: 224px;
  	left: 42px;
  	letter-spacing: 0.25px;
  	line-height: 24px;
  	font-family: Nunito;
  	color: rgba(255, 255, 255, 0.24);
  	display: inline-block;
  	width: 142px;
}
.note-actions-buttons-inner {
  	position: absolute;
  	height: 30%;
  	width: 20%;
  	top: 10%;
  	right: 40%;
  	bottom: 60%;
  	left: 40%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}
.note-actions-buttons3 {
  	position: absolute;
  	top: 21px;
  	left: 149px;
  	background-color: rgba(255, 255, 255, 0.24);
  	width: 120px;
  	height: 80px;
  	font-size: 12px;
  	color: #fff;
}
.hang-out-with1 {
  	position: absolute;
  	top: 120px;
  	left: 22px;
  	font-size: 16px;
  	text-decoration: line-through;
  	letter-spacing: 0.5px;
  	line-height: 24px;
  	display: inline-block;
  	width: 363px;
  	height: 74.9px;
}
.create1 {
  	position: absolute;
  	top: 224px;
  	left: 209px;
  	letter-spacing: 0.25px;
  	line-height: 24px;
  	font-weight: 900;
  	font-family: Nunito;
}
.h30-200120232 {
  	position: absolute;
  	top: 224px;
  	left: 267px;
  	letter-spacing: 0.25px;
  	line-height: 24px;
  	font-family: Nunito;
  	display: inline-block;
  	width: 142px;
}
.rectangle-parent {
  	position: absolute;
  	top: 240px;
  	left: 1000px;
  	width: 409px;
  	height: 248px;
  	font-size: 14px;
  	color: rgba(33, 33, 33, 0.36);
}
.group-inner {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  	border-radius: 16px;
  	background-color: #fff;
  	width: 403px;
  	height: 248px;
}
.note-actions-buttons4 {
  	position: absolute;
  	top: 21px;
  	left: 295px;
  	width: 52px;
  	height: 80px;
  	font-size: 12px;
  	color: #fff;
}
.note-actions-buttons5 {
  	position: absolute;
  	height: 32.26%;
  	width: 12.71%;
  	top: 8.47%;
  	right: 27.87%;
  	bottom: 59.27%;
  	left: 59.41%;
  	font-size: 12px;
  	color: #fff;
}
.note-actions-buttons6 {
  	position: absolute;
  	top: 21px;
  	left: 347px;
  	width: 52px;
  	height: 80px;
  	font-size: 12px;
  	color: #fff;
}
.edit3 {
  	position: absolute;
  	top: 224px;
  	left: 2px;
  	letter-spacing: 0.25px;
  	line-height: 24px;
  	font-weight: 900;
  	font-family: Nunito;
}
.h30-200120234 {
  	position: absolute;
  	top: 224px;
  	left: 42px;
  	letter-spacing: 0.25px;
  	line-height: 24px;
  	font-family: Nunito;
  	display: inline-block;
  	width: 142px;
}
.note-actions-buttons7 {
  	position: absolute;
  	top: 21px;
  	left: 149px;
  	width: 120px;
  	height: 80px;
  	font-size: 12px;
  	color: #fff;
}
.remember-to-finish {
  	position: absolute;
  	top: 116px;
  	left: 20px;
  	font-size: 16px;
  	letter-spacing: 0.5px;
  	line-height: 24px;
  	color: rgba(33, 33, 33, 0.87);
  	display: inline-block;
  	width: 363px;
  	height: 74.9px;
}
.business-wrapper {
  	position: absolute;
  	top: 22px;
  	left: 21px;
  	border-radius: 28px;
  	background-color: #b39ddb;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 6px 12px;
  	color: #4527a0;
}
.finish-the-task {
  	position: absolute;
  	top: 76px;
  	left: 20px;
  	font-size: 24px;
  	letter-spacing: 0.25px;
  	line-height: 33.6px;
  	font-weight: 600;
  	color: rgba(33, 33, 33, 0.87);
}
.rectangle-group {
  	position: absolute;
  	top: 243px;
  	left: 128px;
  	width: 409px;
  	height: 248px;
  	font-size: 14px;
  	color: rgba(33, 33, 33, 0.6);
}
.create3 {
  	position: absolute;
  	top: 224px;
  	left: 209px;
  	font-size: 14px;
  	letter-spacing: 0.25px;
  	line-height: 24px;
  	font-weight: 900;
  	font-family: Nunito;
  	color: rgba(33, 33, 33, 0.6);
}
.delete-frame {
  	position: absolute;
  	height: 40%;
  	width: 100%;
  	top: 60%;
  	right: 0%;
  	bottom: 0%;
  	left: 0%;
  	border-radius: 4px;
  	background-color: #757575;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 4px 8px;
  	box-sizing: border-box;
}
.note-actions-buttons-child3 {
  	position: absolute;
  	height: 50%;
  	width: 76.92%;
  	top: 0%;
  	right: 11.54%;
  	bottom: 50%;
  	left: 11.54%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}
.note-actions-buttons8 {
  	position: absolute;
  	top: 21px;
  	left: 295px;
  	width: 52px;
  	height: 80px;
}
.note-actions-buttons9 {
  	position: absolute;
  	height: 32.26%;
  	width: 12.71%;
  	top: 8.47%;
  	right: 27.87%;
  	bottom: 59.27%;
  	left: 59.41%;
}
.note-actions-buttons10 {
  	position: absolute;
  	top: 21px;
  	left: 347px;
  	width: 52px;
  	height: 80px;
}
.h30-200120235 {
  	position: absolute;
  	top: 224px;
  	left: 267px;
  	font-size: 14px;
  	letter-spacing: 0.25px;
  	line-height: 24px;
  	font-family: Nunito;
  	color: rgba(33, 33, 33, 0.6);
  	display: inline-block;
  	width: 142px;
}
.note-actions-buttons11 {
  	position: absolute;
  	top: 21px;
  	left: 149px;
  	width: 120px;
  	height: 80px;
}
.home-wrapper {
  	position: absolute;
  	top: 22px;
  	left: 21px;
  	border-radius: 28px;
  	background-color: #a5d6a7;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 6px 12px;
  	font-size: 14px;
  	color: #1b5e20;
}
.buy-a-new {
  	position: absolute;
  	top: 70px;
  	left: 20px;
  	font-size: 24px;
  	letter-spacing: 0.25px;
  	line-height: 33.6px;
  	font-weight: 600;
  	color: rgba(33, 33, 33, 0.87);
}
.remember-to-buy {
  	position: absolute;
  	top: 116px;
  	left: 21px;
  	font-size: 16px;
  	letter-spacing: 0.5px;
  	line-height: 24px;
  	color: rgba(33, 33, 33, 0.87);
  	display: inline-block;
  	width: 363px;
  	height: 74.9px;
}
.rectangle-container {
  	position: absolute;
  	top: 243px;
  	left: 555px;
  	width: 409px;
  	height: 248px;
  	font-size: 12px;
}
.notely-notes-delete-conf-child1 {
  	position: absolute;
  	top: -3px;
  	left: -4px;
  	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  	border-radius: 4px;
  	background-color: rgba(0, 0, 0, 0.32);
  	width: 1512px;
  	height: 982px;
}
.notely-notes-delete-conf-child2 {
  	position: absolute;
  	top: 391px;
  	left: 555px;
  	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  	border-radius: 16px;
  	background-color: #fff;
  	width: 402px;
  	height: 200px;
}
.material-symbolsadd-icon1 {
  	width: 18px;
  	position: relative;
  	height: 18px;
  	overflow: hidden;
  	flex-shrink: 0;
  	display: none;
}
.button1 {
  	position: absolute;
  	top: 523px;
  	left: 849px;
  	border-radius: 56px;
  	background-color: #ef5350;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 10px 16px;
  	gap: 8px;
}
.button2 {
  	position: absolute;
  	top: 523px;
  	left: 741px;
  	border-radius: 56px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 10px 16px;
  	gap: 8px;
  	color: #757575;
}
.are-you-sure {
  	position: absolute;
  	top: 475px;
  	left: 579px;
  	letter-spacing: 0.5px;
  	line-height: 24px;
  	color: rgba(33, 33, 33, 0.87);
}
.delete-note {
  	position: absolute;
  	top: 418px;
  	left: 579px;
  	font-size: 24px;
  	letter-spacing: 0.25px;
  	line-height: 33.6px;
  	font-weight: 600;
  	color: rgba(33, 33, 33, 0.87);
}
.note-actions-buttons-icon {
  	position: absolute;
  	top: 415px;
  	left: 893px;
  	width: 40px;
  	height: 40px;
}
.notely-notes-delete-conf {
  	width: 100%;
  	position: relative;
  	background-color: #eee;
  	height: 982px;
  	text-align: left;
  	font-size: 16px;
  	color: #fff;
  	font-family: Roboto;
}

